//Player control icons

$play-icon: url(../icons/play-icon.png);
$pause-icon: url(../icons/pause-icon.png);
$vol-on-icon: url(../icons/volume-on-icon.png);
$vol-off-icon: url(../icons/volume-off-icon.png);
$fullscreen-icon: url(../icons/fullscreen-icon.png);